<section class="main background-image">
  <div class="category">
    <%= image_tag 'logo-categoria.png' %>
    <h2>Breve descripción de la linea del producto</h2>
    <%= image_tag 'reproductor.png' %>
  </div>
</section>
<section class="products container">
  <h2>Productos</h2>
  <div class="filter">
    <span class="filter-toggle"><i class="fa fa-filter"></i> Filtra nuestros productos</span>
    <ul class="active-filter">
      <li class="active">Precio</li>
      <li>Material</li>
      <li>Tipo</li>
    </ul>
  </div>
  <div>
    <article>
      <%= image_tag 'categorias/ichristmas.jpg' %>
      <span class="title">Nombre del Producto</span>
      <spanc class="tagline">S/. 150.00</span>
    </article>
    <article>
      <%= image_tag 'categorias/ikids.jpg' %>
      <span class="title">Nombre del Producto</span>
      <spanc class="tagline">S/. 200.00</span>
    </article>
    <article>
      <%= image_tag 'categorias/icoworking.jpg' %>
      <span class="title">Nombre del Producto</span>
      <spanc class="tagline">S/. 250.00</span>
    </article>
    <article>
      <%= image_tag 'categorias/ilamps.jpg' %>
      <span class="title">Nombre del Producto</span>
      <spanc class="tagline">S/. 300.00</span>
    </article>
    <article>
      <%= image_tag 'categorias/icoworking.jpg' %>
      <span class="title">Nombre del Producto</span>
      <spanc class="tagline">S/. 350.00</span>
    </article>
    <article>
      <%= image_tag 'categorias/ichristmas.jpg' %>
      <span class="title">Nombre del Producto</span>
      <spanc class="tagline">S/. 400.00</span>
    </article>
  </div>
</section>
<section class="background-image process">
  <div class="container">
    <h2>Proceso de compra</h2>
    <article>
      <%= image_tag 'proceso/1.png' %>
      <span>Paso 1 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/2.png' %>
      <span>Paso 2 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/3.png' %>
      <span>Paso 3 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/4.png' %>
      <span>Paso 4 para la compra</span>
    </article>
    <button>Empieza comprando ahora</button>
  </div>
</section>
<section class="register">
  <div class="container">
    <h2>Regístrate para recibir</h2>
    <input type="text" placeholder="Nombre">
    <input type="text" placeholder="Email" class="email">
    <button>Enviar</button>
  </div>
</section>