<section class="main background-image">
  <h1>Frase de fuerza aquí</h1>
</section>
<section class="container slider">
  <h2>Bienvenido a iFurniture</h2>
  <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, to”</p>
</section>
<section class="background-image process">
  <div class="container">
    <h2>Proceso de compra</h2>
    <article>
      <%= image_tag 'proceso/1.png' %>
      <span>Paso 1 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/2.png' %>
      <span>Paso 2 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/3.png' %>
      <span>Paso 3 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/4.png' %>
      <span>Paso 4 para la compra</span>
    </article>
    <button>Empieza comprando ahora</button>
  </div>
</section>
<section class="container categories">
  <h2>Productos</h2>
  <article>
    <%= image_tag 'categorias/ilamps.jpg' %>
    <h3>iLamps</h3>
  </article>
  <article>
    <%= image_tag 'categorias/icoworking.jpg' %>
    <h3>iCoworking</h3>
  </article>
  <article>
    <%= image_tag 'categorias/ichristmas.jpg' %>
    <h3>iChristmas</h3>
  </article>
  <article>
    <%= image_tag 'categorias/ikids.jpg' %>
    <h3>iKids</h3>
  </article>
</section>
<section class="background-image team">
  <div class="container">
    <h2>Equipo</h2>
    <article>
      <%= image_tag 'equipo/equipo1.png' %>
      <div>
        <span>Nombre y Apellido</span>
        <p>“Nam porttitor lorem ipsum dolor sit amet consectetur.”</p>
        <a href="https://www.google.com" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://www.google.com" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://www.google.com" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </article>
    <article>
      <%= image_tag 'equipo/equipo1.png' %>
      <div>
        <span>Nombre y Apellido</span>
        <p>“Nam porttitor lorem ipsum dolor sit amet consectetur.”</p>
        <a href="https://www.google.com" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://www.google.com" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        </a>
        <a href="https://www.google.com" target="_blank">
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </div>
    </article>
  </div>
</section>
<section class="container news">
  <h2>Noticias</h2>
  <article>
    <span class="title">Titulo del evento 1</span>
    <span>Lorem ipsum dolor sit amet.</span>
  </article>
  <article>
    <span class="title">Se busca diseñador</span>
    <span>Lorem ipsum dolor sit amet.</span>
  </article>
  <article>
    <span class="title">Lanzamiento de ...</span>
    <span>Lorem ipsum dolor sit amet.</span>
  </article>
</section>
<section class="background-image">
  <div class="container sponsor">
    <h2>Apoyaron a iFurniture</h2>
    <article>
      <%= image_tag 'auspiciadores/logo1.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo2.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo3.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo1.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo2.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo3.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo1.png' %>
      <span>Apoyó en algo</span>
    </article>
  </div>
</section>
<section class="container subscription">
  <h2>Regístrate para recibir...</h2>
  <article class="contact">
    <div class="left">
      <input type="text" placeholder="Nombre">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Ciudad">
    </div>
    <textarea placeholder="Mensaje"></textarea>
    <button>Enviar</button>
  </article>
</section>