<section class="main-video">
  <h1>Carpintería Digital</h1>
  <%= video_tag "summit.mp4", :autoplay => true, :loop => true %>
  <%= image_tag 'background-image.jpg' %>
</section>
<section class="container slider">
  <h2>Bienvenido a iFurniture</h2>
  <div class="slides">
    <p>“[iFurniture] es un StartUp que se basa en el diseño innovador y fabricación digital de mobiliarios personalizados.”</p>
    <p>“De características móviles, flexibles, modulares, transformables, ahorradores de espacio hasta llegar a la robótica para muebles.”</p>
    <p>“Utilizamos la tecnología CNC (Corte por Control Numérico Computarizado) y la fabricación digital con prototipados rápidos en escala real. (Fab Lab)”</p>
    <p>“Nuevas líneas de diseño: Lámparas Paramétricas, mobiliarios de Co-Working, mobiliarios para Niños y para el hogar.”</p>
    <p>"De la carpintería tradicional a la carpintería digital  generamos un proyecto escalable de alto impacto en la industria de la carpintería del Perú."</p>
  </div>
</section>
<section class="background-image process">
  <div class="container">
    <h2>Proceso de compra</h2>
    <article>
      <%= image_tag 'proceso/1.png' %>
      <span>Paso 1 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/2.png' %>
      <span>Paso 2 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/3.png' %>
      <span>Paso 3 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/4.png' %>
      <span>Paso 4 para la compra</span>
    </article>
    <button>Empieza comprando ahora</button>
  </div>
</section>
<section class="container categories">
  <h2>Productos</h2>
  <article>
    <div class="container-overlay">
    <% if locale.to_s == 'es' %>
      <a href="/ilamps">
    <% else %>
      <a href="/en/ilamps">
    <% end %>
        <div class="overlay"></div>
        <div class="info">
          <h3>iLamps</h3>
          <i class="fa fa-search-plus"></i>
        </div>
        <%= image_tag 'categorias/ilamps.jpg' %>
      </a>
    </div>
  </article>
  <article>
    <div class="container-overlay">
      <% if locale.to_s == 'es' %>
        <a href="/icoworking">
      <% else %>
        <a href="/en/icoworking">
      <% end %>
        <div class="overlay"></div>
        <div class="info">
          <h3>iCoworking</h3>
          <i class="fa fa-search-plus"></i>
        </div>
        <%= image_tag 'categorias/icoworking.jpg' %>
      </a>
    </div>
  </article>
  <article>
    <div class="container-overlay">
      <% if locale.to_s == 'es' %>
        <a href="/ichristmas">
      <% else %>
        <a href="/en/ichristmas">
      <% end %>
        <div class="overlay"></div>
        <div class="info">
          <h3>iChristmas</h3>
          <i class="fa fa-search-plus"></i>
        </div>
        <%= image_tag 'categorias/ichristmas.jpg' %>
      </a>
    </div>
  </article>
  <article>
    <div class="container-overlay">
      <% if locale.to_s == 'es' %>
        <a href="/ikids">
      <% else %>
        <a href="/en/ikids">
      <% end %>
        <div class="overlay"></div>
        <div class="info">
          <h3>iKids</h3>
          <i class="fa fa-search-plus"></i>
        </div>
        <%= image_tag 'categorias/ikids.jpg' %>
      </a>
    </div>
  </article>
  <article>
    <div class="container-overlay">
      <% if locale.to_s == 'es' %>
        <a href="/ibaby">
      <% else %>
        <a href="/en/ibaby">
      <% end %>
        <div class="overlay"></div>
        <div class="info">
          <h3>iBaby</h3>
          <i class="fa fa-search-plus"></i>
        </div>
        <%= image_tag 'categorias/ikids.jpg' %>
      </a>
    </div>
  </article>
</section>
<section class="background-image team">
  <div class="container">
    <h2>Equipo</h2>
    <article>
      <div class="horizontal-center">
        <%= image_tag 'equipo/equipo1.png' %>
        <div class="description">
          <span>Nombre y Apellido</span>
          <p>“Nam porttitor lorem ipsum dolor sit amet consectetur.”</p>
          <div class="social-profiles">
            <a href="https://www.google.com" target="_blank">
              <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="https://www.google.com" target="_blank">
              <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="https://www.google.com" target="_blank">
              <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span>
            </a>
          </div>
        </div>
      </div>
    </article>
    <article>
      <div class="horizontal-center">
        <%= image_tag 'equipo/equipo1.png' %>
        <div class="description">
          <span>Nombre y Apellido</span>
          <p>“Nam porttitor lorem ipsum dolor sit amet consectetur.”</p>
          <div class="social-profiles">
            <a href="https://www.google.com" target="_blank">
              <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="https://www.google.com" target="_blank">
              <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span>
            </a>
            <a href="https://www.google.com" target="_blank">
              <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span>
            </a>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>
<section class="container news">
  <h2>Noticias</h2>
  <% @posts.each do |post| %>
    <% if post.live? %>
      <%= link_to refinery.blog_post_path(post), :class => "post" do %>
        <article class="blog_post" id="<%= dom_id(post) %>">
          <h4 class="title"><%= post.title %></h4>
          <%= post.custom_teaser.html_safe %>
        </article>
      <% end %>
    <% end %>
  <% end %>
</section>
<section class="background-image">
  <div class="container sponsor">
    <h2>Apoyaron a iFurniture</h2>
    <article>
      <%= image_tag 'auspiciadores/logo1.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo2.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo3.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo1.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo2.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo3.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo1.png' %>
      <span>Apoyó en algo</span>
    </article>
  </div>
</section>
<section class="container subscription">
  <% if locale.to_s == 'es' %>
    <h2>Regístrate para recibir...</h2>
    <article class="contact">
      <%= form_tag '/suscribir', target: "_top" do %>
      <div class="left">
        <%= hidden_field_tag :group_name, 'suscriptores' %>
        <%= hidden_field_tag :group, 'home' %>
        <%= text_field_tag :first_name, nil, type: "text", placeholder: "Nombre" %>
        <%= text_field_tag :email, nil, type: "email", placeholder: "Email", pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required: true %>
        <%= text_field_tag :city, nil, type: "text", placeholder: "Ciudad" %>
      </div>
      <%= text_area_tag :comment, nil, type: "text", placeholder: "Mensaje", maxlength: 255 %>
      <%= submit_tag "Enviar" %>
      <% end %>
    </article>
  <% else %>
    <h2>Register for...</h2>
    <article class="contact">
      <%= form_tag '/suscribir', target: "_top" do %>
      <div class="left">
        <%= hidden_field_tag :group_name, 'suscriptores' %>
        <%= hidden_field_tag :group, 'home' %>
        <%= text_field_tag :first_name, nil, type: "text", placeholder: "Name" %>
        <%= text_field_tag :email, nil, type: "email", placeholder: "Email", pattern: "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$", required: true %>
        <%= text_field_tag :city, nil, type: "text", placeholder: "City" %>
      </div>
      <%= text_area_tag :comment, nil, type: "text", placeholder: "Message", maxlength: 255 %>
      <%= submit_tag "Submit" %>
      <% end %>
    </article>
  <% end %>
</section>