<section class="main background-image">
  <h1>Frase de fuerza aquí</h1>
  <%= video_tag "summit.mp4", :autoplay => true, :loop => true %>
</section>
<section class="container slider">
  <h2>Bienvenido a iFurniture</h2>
  <div class="slides">
    <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, to”</p>
    <p>“Donec scelerisque ipsum et elit pellentesque lobortis posuere at dui. Pellentesque congue varius malesuada. Ut ornare turpis nec vehicula elementum. Aliquam lacus risus, facilisis quis rhoncus eu, condimentum et nulla. Proin consectetur commodo ex, convallis elementum libero interdum id. Phasellus in dui placerat, pharetra lorem ut, pellentesque est. Duis eget arcu fermentum, cursus lacus non, tempor magna.”</p>
    <p>“Nullam egestas ex iaculis auctor gravida. Nulla vestibulum dapibus maximus. Maecenas pretium massa quis arcu cursus ullamcorper. Sed ut nulla risus. Vestibulum eu felis ornare, egestas neque ut, vehicula erat. Morbi lacinia mollis ex, eget blandit nisl fermentum eget. Vivamus mattis dictum leo, ac maximus arcu elementum eget. Morbi quis velit ac lacus pellentesque pulvinar. Vivamus placerat vestibulum vehicula. Phasellus facilisis volutpat urna, ut scelerisque diam laoreet non.”</p>
    <p>“Aliquam interdum urna suscipit, tincidunt felis quis, feugiat augue. Vivamus ut augue ut arcu ultricies posuere nec id ligula. Aenean nec sem ac tellus bibendum lobortis. Donec consectetur purus id lorem tristique hendrerit. Pellentesque varius, dui sit amet placerat rhoncus, nibh tellus varius nibh, nec sollicitudin ante mi ut eros. Cras elementum nibh a feugiat tempor. Donec ac libero a sem molestie iaculis. Nunc lobortis sollicitudin euismod. Curabitur aliquet odio mattis, dignissim purus sit amet, pellentesque erat. Praesent et iaculis orci. Nunc lectus nibh, dictum ut ullamcorper a, volutpat id nunc.”</p>
  </div>
</section>
<section class="background-image process">
  <div class="container">
    <h2>Proceso de compra</h2>
    <article>
      <%= image_tag 'proceso/1.png' %>
      <span>Paso 1 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/2.png' %>
      <span>Paso 2 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/3.png' %>
      <span>Paso 3 para la compra</span>
    </article>
    <article>
      <%= image_tag 'proceso/4.png' %>
      <span>Paso 4 para la compra</span>
    </article>
    <button>Empieza comprando ahora</button>
  </div>
</section>
<section class="container categories">
  <h2>Productos</h2>
  <article>
    <div class="container-overlay">
      <a href="/categorias">
        <div class="overlay"></div>
        <div class="info">
          <h3>iLamps</h3>
          <i class="fa fa-search-plus"></i>
        </div>
        <%= image_tag 'categorias/ilamps.jpg' %>
      </a>
    </div>
  </article>
  <article>
    <div class="container-overlay">
      <a href="/categorias">
        <div class="overlay"></div>
        <div class="info">
          <h3>iCoworking</h3>
          <i class="fa fa-search-plus"></i>
        </div>
        <%= image_tag 'categorias/icoworking.jpg' %>
      </a>
    </div>
  </article>
  <article>
    <div class="container-overlay">
      <a href="/categorias">
        <div class="overlay"></div>
        <div class="info">
          <h3>iChristmas</h3>
          <i class="fa fa-search-plus"></i>
        </div>
        <%= image_tag 'categorias/ichristmas.jpg' %>
      </a>
    </div>
  </article>
  <article>
    <div class="container-overlay">
      <a href="/categorias">
        <div class="overlay"></div>
        <div class="info">
          <h3>iKids</h3>
          <i class="fa fa-search-plus"></i>
        </div>
        <%= image_tag 'categorias/ikids.jpg' %>
      </a>
    </div>
  </article>
</section>
<section class="background-image team">
  <div class="container">
    <h2>Equipo</h2>
    <article>
      <div class="horizontal-center">
        <%= image_tag 'equipo/equipo1.png' %>
        <div class="description">
          <span>Nombre y Apellido</span>
          <p>“Nam porttitor lorem ipsum dolor sit amet consectetur.”</p>
          <a href="https://www.google.com" target="_blank">
            <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span>
          </a>
          <a href="https://www.google.com" target="_blank">
            <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span>
          </a>
          <a href="https://www.google.com" target="_blank">
            <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span>
          </a>
        </div>
      </div>
    </article>
    <article>
      <div class="horizontal-center">
        <%= image_tag 'equipo/equipo1.png' %>
        <div class="description">
          <span>Nombre y Apellido</span>
          <p>“Nam porttitor lorem ipsum dolor sit amet consectetur.”</p>
          <a href="https://www.google.com" target="_blank">
            <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-linkedin fa-stack-1x fa-inverse"></i></span>
          </a>
          <a href="https://www.google.com" target="_blank">
            <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span>
          </a>
          <a href="https://www.google.com" target="_blank">
            <span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-envelope fa-stack-1x fa-inverse"></i></span>
          </a>
        </div>
      </div>
    </article>
  </div>
</section>
<section class="container news">
  <h2>Noticias</h2>
  <% @posts.each do |post| %>
    <% if post.live? %>
      <%= link_to refinery.blog_post_path(post), :class => "post" do %>
        <article class="blog_post" id="<%= dom_id(post) %>">
          <h4 class="title"><%= post.title %></h4>
          <%= post.custom_teaser.html_safe %>
        </article>
      <% end %>
    <% end %>
  <% end %>
</section>
<section class="background-image">
  <div class="container sponsor">
    <h2>Apoyaron a iFurniture</h2>
    <article>
      <%= image_tag 'auspiciadores/logo1.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo2.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo3.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo1.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo2.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo3.png' %>
      <span>Apoyó en algo</span>
    </article>
    <article>
      <%= image_tag 'auspiciadores/logo1.png' %>
      <span>Apoyó en algo</span>
    </article>
  </div>
</section>
<section class="container subscription">
  <h2>Regístrate para recibir...</h2>
  <article class="contact">
    <div class="left">
      <input type="text" placeholder="Nombre">
      <input type="text" placeholder="Email">
      <input type="text" placeholder="Ciudad">
    </div>
    <textarea placeholder="Mensaje"></textarea>
    <button>Enviar</button>
  </article>
</section>
