<div class="container">
  <div class="left">
    <%= link_to refinery.root_path do %>
      <%= image_tag "ifurniture-logo2.png", :class => "logo" %>
    <% end %>
  </div>
  <div class="center">
    <ul class="contact">
      <li><a href="mailto:hello@ifurniture.pe"><i class="fa fa-envelope"></i> hello@ifurniture.pe</a></li>
      <li><a href="telf:+5112222222"><i class="fa fa-phone"></i> (01)-2222222</a></li>
      <li><a href="/ubicacion"><i class="fa fa-map-marker"></i> Ubícanos</a></li>
    </ul>
    <ul class="social-links">
      <li><a href="https://www.facebook.com/iFurniturePE" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
      <li><a href="https://twitter.com/iFurniturePE" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
      <li><a href="https://www.instagram.com/iFurniturePE/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      <li><a href="https://es.pinterest.com/ifurniturepe/" target="_blank"><i class="fa fa-pinterest-square"></i></a></li>
      <li><a href="https://vimeo.com/ifurniturepe" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
      <li><a href="#" target="_blank"><i class="fa fa-youtube-square"></i></a></li>
    </ul>
    <ul class="copyright">
      <li>Hecho en Perú</li>
      <li><%= t('.copyright', :year => Time.now.year, :site_name => Refinery::Core.site_name) %></li>
    </ul>
    <p>Desarrollado por devAcademy</p>
  </div>
  <nav class="right">
    <ul id="navigation-menu">
      <% if locale.to_s == "es" %>
        <%= link_to_in_li "iLamps", '/categorias' %>
        <%= link_to_in_li "iKids", '/categorias' %>
        <%= link_to_in_li "iCoworking", '/categorias' %>
        <%= link_to_in_li "iChristmas", '/categorias' %>
      <% else locale.to_s == "en" %>
        <%= link_to_in_li "iLamps", '/categorias' + locale.to_s  %>
        <%= link_to_in_li "iKids", '/categorias' + locale.to_s  %>
        <%= link_to_in_li "iCoworking", '/categorias' + locale.to_s  %>
        <%= link_to_in_li "iChristmas", '/categorias' + locale.to_s  %>
      <% end %>
    </ul>
  </nav>
</div>
<script id="dsq-count-scr" src="//ifurniture.disqus.com/count.js" async></script>