<div class="sticky">
  <div class="container">
    <%= link_to refinery.root_path do %>
      <%= image_tag "ifurniture-logo.png", :class => "logo" %>
    <% end %>
    <ul class="language" id='locale'>
      <% Refinery::I18n.frontend_locales.each do |frontend_locale| %>
          <li>
            <%= link_to Refinery::I18n.locales[frontend_locale], refinery.url_for(:locale => frontend_locale) %>
          </li>
      <% end %>
    </ul>
    <nav>
      <ul id="navigation-menu">
        <% if locale.to_s == "es" %>
          <%= link_to_in_li "iLamps", '/categorias#iLamps' %>
          <%= link_to_in_li "iKids", '/categorias#iKids' %>
          <%= link_to_in_li "iCoworking", '/categorias#iCoworking' %>
          <%= link_to_in_li "iChristmas", '/categorias#iChristmas' %>
           <li><button class="suscribe">Suscríbete</button></li>
        <% else locale.to_s == "en" %>
          <%= link_to_in_li "iLamps", '/categorias' + locale.to_s  %>
          <%= link_to_in_li "iKids", '/categorias' + locale.to_s  %>
          <%= link_to_in_li "iCoworking", '/categorias' + locale.to_s  %>
          <%= link_to_in_li "iChristmas", '/categorias' + locale.to_s  %>
          <li><button class="suscribe">Subscribe</button></li>
        <% end %>
      </ul>
      <div class="header-register">
        <div class="dropdown-caret">
          <div class="caret-outer"></div>
          <div class="caret-inner"></div>
        </div>
        <input type="text" placeholder="Email">
        <button>Suscríbete a nuestras noticias</button>
      </div>
    </nav>
  </div>
</div>
